.change {
    background-color: transparent;
    font-size: 24px;
    margin: 0;
    border-bottom: 1px solid rgb(15,193,158);
    display: inline-block;
    padding: 0;
}

.activate_edit_mode {
    cursor: pointer;
    color: rgb(15,193,158);
}