.my_posts {
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.posts_box {
    display: flex;
    flex-wrap: wrap;
    width: 94%;
    margin: 20px 0;
    justify-content: space-between;
}

.standart_button {
    background-color: rgb(15,193,158);
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.add_post {
    position: relative;
    width: 93%;
    height: 140px;
}

.add_post_textarea {
    position: absolute;
    width: 100%;
    resize: none;
    height: 100%;
}


