
.formControl.error input,
.formControl.error textarea {
    border: 1px solid rgb(201, 91, 91);
}

.formControl.error div {
    font-size: 16px;
    color: rgb(201, 91, 91);
}

.fromSummeryError {
    color: rgb(201, 91, 91);
}
