.panel {
    padding: 3px 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    background: rgb(244,244,244);
    border-radius: 20px;
    margin: 10px 0;
}

.list_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 5px 6px;
    border-radius: 10px;
    background: rgb(244,244,244);
    padding: 10px 0 10px 10px;
}

.view_profile {
    padding: 2px 6px;
    background: rgb(15,193,158);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    margin-right: 14px;
}