.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status {
    margin-top: 120px;
    width: 90%;
    background-color: #fff;
    padding: 20px;
}

.statistic {
    padding: 20px;
    width: 90%;
    background-color: #fff;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.statistic p {
    margin: 0 10px;
}

.statistic span {
    background-color: rgb(15,193,158);
    border-radius: 30px;
    padding: 0 6px;
}

.standart_button {
    background-color: rgb(15,193,158);
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-size: 20px;
}
  

