.postBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    height: 80%;
}

.photo {
    flex-basis: 60%;
}

.photo img {
    width: 100%;
    height: 100%;
}

.body {
    overflow-y: scroll;
    height: 100%;
}

.comments_box {
    flex-basis: 36%;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 6px;
}

.form {
    background: #fff;
    border-radius: 6px;
    border: 1px solid #88898a;
    margin-top: 10px;
}

.form input {
    width: 74%;
}

.form button {
    width: 20%;
}

.body h2 {
    color: rgb(15,193,158);
}

.close_btn {
    float: right;
}

.comments_box {
    background: #f1f1f1;
    padding: 10px;
    border-bottom: 1px solid #88898a;
}

.comments_box:last-child {
    border: none;
}

.comments_box h3 {
    font-size: 14px;
    color: #88898a;
    margin: 0;
}

.post_info {
    margin: 20px;
    flex-basis: 100%;
}

.post_info_no_comments {
    flex-basis: 38%;
}