.item img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.item {
    width: 30%;
    margin: 10px 0;
    background: rgb(19, 158, 130);
    color: #fff;
    padding: 10px;
    font-size: 16px;
}
