.app-wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "sidebar" 
  "content";
}

.app-wrapper-content {
  grid-area: content;
  background: rgb(244,244,244);
  display: flex;
  flex-direction: column;
}