.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialog {
    padding: 10px;
    display: flex;
    text-align: center;
}

.dialog img {
    width: 60px;
    border-radius: 60px;
}

.dialog.active {
    color: red;
}

.lSide {
    color: red;
}

.rSide {
    color: blue;
}

