.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogItems {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.dialog {
    padding: 10px;
}

.dialog.active {
    color: red;
}